@import "../styles/global_variables.scss";

.navContainer {
	width: 100%;
	background-color: gray;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	min-height: 50px;
}

.linkStyle {
	color: $txt-color;
	font-size: $nav-font-size;
	text-decoration: none;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	line-height: 50px;
	border-radius: 5px;

	&:hover {
		color: $txt-hover;
	}
}

.container {
	width: 100%;
	background: white;
	border-radius: 5px;
	.inner {
		background-color: rgb(47, 81, 194);
		padding: 5px 20px;
		border-radius: 5px;
		color: white;
		clip-path: circle(10% at 0 0);
		transition: all 0.5s ease-in-out;
	}
	&:hover .inner {
		clip-path: circle(100px at 50% 50%);
		background-color: rgb(11, 241, 107);
	}
}
