.bg {
	padding-top: 50px;
	background: linear-gradient(180deg, rgba(3, 134, 255, 0.66) 0%, rgba(1, 51, 180, 0.66) 0.01%, #5fb2fe 26.04%, #6fe6ee 52.08%);
}

.componentContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.component {
	width: 450px;
	padding: 30px;
	margin: auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
