.mainLandingContainer {
	min-height: 55.938em;
	padding-top: 3.13em; // 50px
	position: relative;
	max-height: 50em;
	margin: auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	transition: background 0.5s;
}
