@import url("https://fonts.googleapis.com/css?family=Atma|Megrim|Roboto&display=swap");

// $nav-txt-color: rgb(252, 251, 249);
$nav-txt-color: rgb(10, 7, 0);
$nav-txt-hover: rgb(143, 96, 8);

/* STANDARD FONT ATTRIBUTES */
$main-font-size: 1em;
$main-font-size-L: 1.5em;
$main-font-size-XL: 2em;
$main-font-size-XXL: 4em;
$main-font-family: "Atma", sans-serif;
$mt-font-family: "Megrim", sans-serif;

/* STANDARD COLORS */

$white: #fff;
$sky-blue: #18a0fb;
$sky-blue-darker: #0e5d92;
$lemon-yellow: #f9fc4e;

/* PAGE BG THEMES */
$bg-home: linear-gradient(180deg, rgba(239, 73, 252, 0.631627) 0%, #fec85f 35.94%);
$bg-slopes: linear-gradient(180deg, rgba(68, 255, 3, 0.66) 0%, rgba(19, 211, 25, 0.66) 0.01%, #5ffe95 26.04%, #6feed7 52.08%);
$bg-tips: linear-gradient(180deg, rgba(235, 202, 27, 0.66) 0%, rgba(237, 6, 214, 0.66) 0.01%, #fe5fe5 26.04%, rgba(251, 158, 253, 0.87) 52.08%);
$bg-user: linear-gradient(180deg, rgba(3, 134, 255, 0.66) 0%, rgba(1, 51, 180, 0.66) 0.01%, #5fb2fe 26.04%, #6fe6ee 52.08%);

/* BREAK POINTS */
$bp-xs: 18.75em;
$bp-s: 40.625em;
$bp-m: 50em;
$bp-l: 80em;
$bp-xl: 93.75em;
$bp-xxl: 106.25em;

* {
	font-family: $main-font-family;
}
