.mainContainer {
	background: linear-gradient(180deg, #f4b12f 0%, rgba(226, 59, 240, 0.63) 100%);
	// min-height: 100%;
	height: 100vh;
}

.slopeContainer {
	position: absolute;
	bottom: -20px;
	max-height: 1200px;
	width: 100vw;
}

.slope3Container {
	position: absolute;
	display: none;
	bottom: -20px;
	max-height: 1200px;
	width: 100vw;
}

@media (max-width: 800px) {
	.slopeContainer {
		display: none;
	}
	.slope3Container {
		display: block;
	}
}
