@import url("https://fonts.googleapis.com/css?family=Atma|Roboto&display=swap");

// $nav-txt-color: rgb(252, 251, 249);
$nav-txt-color: rgb(10, 7, 0);
$nav-txt-hover: rgb(143, 96, 8);

/* STANDARD FONT ATTRIBUTES */
$main-font-size: 1em;
$main-font-size-larger: 1.5em;
$main-font-family: "Atma", sans-serif;

/* STANDARD COLORS */

$white: #fff;
$sky-blue: #18a0fb;
$sky-blue-darker: #0e5d92;

* {
	font-family: $main-font-family;
}
