@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$nav-txt-color: orange;
$nav-txt-hover: rgb(143, 96, 8);
$nav-font-size: 24px;

$main-font-family: "Roboto", sans-serif;

/* STANDARD COLORS */

$white: #fff;

* {
	font-family: $main-font-family;
}
