@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
$txt-color: orange;
$txt-hover: rgb(143, 96, 8);
$nav-font-size: 24px;
$main-font-family: "Roboto", sans-serif;

* {
	font-family: $main-font-family;
}
