@import "./global_variables.scss";

.bg {
	background: linear-gradient(180deg, rgba(239, 73, 252, 0.631627) 0%, #fec85f 35.94%);
}

.bgImage {
	position: absolute;
	top: 12.5em;
	width: 110%;
	margin: 0;
	margin-left: -10px;
	transition: top 0.5s;

	@media (min-width: ($bp-xs)) {
		top: 6.25em;
	}

	@media (min-width: (81.25em)) {
		top: -2em;
	}

	@media (min-width: (106.25em)) {
		top: 0;
	}
}

.slopeFiller {
	position: absolute;
	height: 50em;
	width: 100%;
	top: 18.75em;
	background-color: white;

	@media (min-width: 15.625em) {
		top: 28.125em;
	}
	@media (min-width: (31.25em)) {
		display: none;
	}
}

.landingTitle {
	position: absolute;
	font-size: $main-font-size-XXL;
	font-family: $mt-font-family;
	color: $white;
	top: 0.75em;
	width: 100%;
	text-align: center;

	@media (min-width: (62.5em)) {
		width: auto;
		top: 3.5em;
		right: 3.5em;
	}
}

.landingButtonsContainer {
	width: 100%;
	position: absolute;
	top: 35em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	@media (min-width: 48em) {
		top: 41em;
	}
}

.landingButtons {
	min-width: 15em;
	min-height: 2em;
	line-height: 2em;
	border-radius: 1.875em;
	font-size: $main-font-size-L;
	margin: 0.5em 0.5em;
	cursor: pointer;
	border: none;
	outline: none;

	&:active {
		box-shadow: none;
	}
}

.registerBtn {
	background-color: $sky-blue;
	color: $white;
	box-shadow: 0 3px 3px $sky-blue-darker;

	&:hover {
		color: $sky-blue;
		background-color: $white;
		border: 1px solid $sky-blue;
	}
}

.exploreBtn {
	background-color: $white;
	color: $sky-blue;
	border: 1px solid $sky-blue;
	box-shadow: 0 3px 3px $sky-blue;

	&:hover {
		background-color: $sky-blue;
		color: $white;
	}
}
