@import "./global_variables.scss";

.mainLandingContainer {
	min-height: 895px;
	position: relative;
	max-height: 800px;
	margin: auto;
	background: linear-gradient(180deg, #f4b12f 0%, rgba(226, 59, 240, 0.63) 100%);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	transition: background 0.5s;
}

.bgImage {
	position: absolute;
	top: 200px;
	width: 110%;
	margin: 0;
	margin-left: -10px;
	transition: top 0.5s;

	@media (min-width: (800px)) {
		top: 100px;
	}

	@media (min-width: (1300px)) {
		top: 50px;
	}

	@media (min-width: (1700px)) {
		top: 0px;
	}
}

.slopeFiller {
	position: absolute;
	height: 800px;
	width: 100%;
	top: 300px;
	background-color: white;

	@media (min-width: 250px) {
		top: 450px;
	}
	@media (min-width: (500px)) {
		display: none;
	}
}

.landingButtonsContainer {
	width: 100%;
	position: absolute;
	top: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.landingButtons {
	min-width: 300px;
	min-height: 60px;
	border-radius: 30px;
	font-size: $main-font-size-larger;
}

.registerBtn {
	background-color: #18a0fb;
	color: white;
}

.exploreBtn {
	background-color: white;
	color: #18a0fb;
}
