@import "../styles/global_variables.scss";

.navContainer {
	width: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	background-color: transparent;
}

.navIconContainer {
	cursor: pointer;
	@media (min-width: $bp-s) {
		display: none;
	}
}

.navLinksContainer {
	display: none;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	min-height: 3.125em;
	letter-spacing: 0.1em;

	@media (min-width: $bp-s) {
		display: flex;
	}
}

.linkStyle {
	color: $white;
	font-weight: bold;
	font-size: $main-font-size-L;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	line-height: 3.125em;
	border-radius: 0.313em;
	box-sizing: border-box;
}

// CLIP PATH ANIMATION
// .container {
// 	.inner {
// 		background-color: rgb(47, 81, 194);
// 		width: 100%;
// 		border-radius: 5px;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		color: white;
// 		clip-path: circle(10% at -10% -10%);
// 		transition: all 0.5s ease-in-out;
// 		box-sizing: border-box;
// 		display: flex;
// 		justify-content: center;
// 		align-content: center;
// 	}
// 	.inner2 {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		border-radius: 5px;
// 		width: 100%;
// 		box-sizing: border-box;
// 		display: flex;
// 		justify-content: center;
// 		align-content: center;
// 	}
// 	&:hover .inner {
// 		clip-path: circle(100px at 50% 50%);
// 		background-color: rgb(11, 241, 107);
// 	}
// }
