@import "../styles/global_variables.scss";

/* ANIMATIONS */
@keyframes slideInFromLeft {
	0% {
		left: -300px;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes slideOutToLeft {
	0% {
		left: 0;
		opacity: 1;
	}
	100% {
		left: -300px;
		opacity: 0;
	}
}

/* CLASS ATTRIBUTES */

.navLinksContainer {
	position: fixed;
	display: flex;
	left: -300px;
	flex-direction: column;
	height: 500px;
	width: 300px;
	background-color: $sky-blue;
}

.hide {
	display: none;
	// border: 2px solid red;
}

.menuSlideIn {
	animation: slideInFromLeft 0.25s ease-in forwards;
}
.menuSlideOut {
	animation: slideOutToLeft 0.25s ease-out forwards;
}
